<div class="modal-demo">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Intervention :   </h3>
  </div>
  <div class="modal-body" id="modal-body">
    <form>
      <div class="form-group row">
        <label for="label" class="col-sm-6 col-form-label">Libellé : </label>
        <input id="label" class="col-sm-5 form-control" type="text" ng-model="label" />
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-6 col-form-label">Description : </label>
        <input id="description" class="col-sm-6 form-control" type="text" ng-model="description" />
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-6 col-form-label">Nom intervenant : </label>
        <input id="name" class="col-sm-6 form-control" type="text" ng-model="name" />
      </div>
      <div class="form-group row">
        <label for="place" class="col-sm-6 col-form-label">Lieu : </label>
        <input id="place" class="col-sm-6 form-control" type="text" ng-model="place" />
      </div>
      <div class="form-group row">
        <label for="date" class="col-sm-6 col-form-label">Date de l'intervention : </label>
        <input id="date" class="col-sm-6 form-control" type="date" ng-model="date" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-if="!update" ng-click="onCreate()">Sauvegarder</button>
    <button class="btn btn-primary" type="button" ng-if="update" ng-click="onUpdate()">Modifier</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
  </div>
</div>